# Copy to .env and fill values required by your local services.
# This file is loaded by Spring Boot as a standard Java properties file.
MKCS_CORS_ALLOWED_ORIGINS=http://localhost:5173
MKCS_DATASOURCE_HOST=localhost
MKCS_DATASOURCE_PORT=3306
MKCS_DATASOURCE_DATABASE=mkCloudStorage
MKCS_DATASOURCE_USERNAME=root
MKCS_MINIO_ENDPOINT=http://127.0.0.1:9000
MKCS_MINIO_PUBLIC_ENDPOINT=http://127.0.0.1:9000
MKCS_MINIO_BUCKET_NAME=avatar
MKCS_DATASOURCE_PASSWORD=
MKCS_REDIS_PASSWORD=
MKCS_REDIS_HOST=127.0.0.1
MKCS_REDIS_PORT=6379
MKCS_REDIS_DATABASE=10
MKCS_JWT_SECRET_KEY=
MKCS_MINIO_ACCESS_KEY=
MKCS_MINIO_SECRET_KEY=
MKCS_RABBITMQ_PASSWORD=
MKCS_RABBITMQ_HOST=127.0.0.1
MKCS_RABBITMQ_PORT=5672
MKCS_RABBITMQ_USERNAME=admin
MKCS_RABBITMQ_VIRTUAL_HOST=/
MKCS_MAIL_PASSWORD=
MKCS_MAIL_HOST=smtp.resend.com
MKCS_MAIL_PORT=587
MKCS_MAIL_USERNAME=resend
MKCS_MAIL_FROM=noreply@20051215.xyz
MKCS_MAIL_FROM_NAME=MK Cloud Storage
MKCS_CRYPTO_DEFAULT_PASSWORD=
MKCS_OAUTH2_GITHUB_CLIENT_ID=
MKCS_OAUTH2_GITHUB_CLIENT_SECRET=
